<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<head>
		<title>Semshop Input Form</title>
	</head>
	<script type="text/javascript">
		var genes_list = { 
			"manufacturer":["samsung", "microsoft", "brother"], 
             			   "department": ["electronics", "books", "movies"],
             			   "product_category": ["printer", "video_game_console"]
         }


		window.onload = function () {
	    	var categorySel = document.getElementById("categorySel");
	    	var geneSel = document.getElementById("geneSel");
	    	for (var category in genes_list){
	        	categorySel.options[categorySel.options.length] = new Option(category,category);
	    	}
	    	categorySel.onchange = function(){
	    		geneSel.length = 1;
	    		if (this.selectedIndex < 1) return;
	    		var genes = genes_list[this.value]
	    		for (gene in genes) {
            		geneSel.options[geneSel.options.length] = new Option(genes[gene], genes[gene]);
        		}
	    	}
	    	}
	</script>

	<body>
		<form action="semshop.php" method="post" />
		<p> Product URL: <input type="url" name="product_url"/></p>
		<br>
		<p> Product SKU: <input type="text" name="product_sku"/></p>
		<br>
		<p> Product Name: <input type="text" name="product_name"/></p>
		<br>
		<p> Product Price: <input type="number" step="0.01" name="product_price"/></p>
		<br>
		<p> Product Date: <input type="text" name="product_date"/></p>
		<br>
		<p> Gene Category: 
			<select name="category" id="categorySel" size="1">
         	<option value="" selected="selected">Select Category</option>
         </select>
		</p>
		<br>
		<p> Gene Name: 
    		<select name="genes" id="geneSel" size="1">
        	<option value="" selected="selected"> Select Gene </option>
        </select>
		</p>

		<input type="submit" value="Submit" />
		</form>
	</body>
</html>



